[submodule "Challenges-C"]
	path = Challenges-C
	url = https://github.com/mwpher/Projects.git
	branch = C

[submodule "Challenges-Py"]
	path = Challenges-Py
	url = https://github.com/mwpher/Projects.git
	branch = Python

[submodule "Challenges-Nimrod"]
	path = Challenges-Nimrod
	url = https://github.com/mwpher/Projects
	branch = Nimrod

[submodule "MattLib"]
	path = MattLib
	url = https://github.com/mwpher/MattLib
	branch = master
[submodule "Inform"]
	path = Inform
	url = https://github.com/mwpher/inform-projects
